@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.grayscale {
  filter: grayscale(1);
}

.header-ui{
  position: relative;
  background: linear-gradient(45deg, #ffd0e7 0%, #ffcfe7 50%, #ffffff 100%);
  height: 125px;
}

.header-ui::after {
    display: block;
    content: '';
    height: 100%;
    background: url("http://svgur.com/i/5Es.svg") bottom no-repeat;
    background-size: contain;
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    z-index: 1; 
    width: 100%;
}

.markdown {
  @apply text-xs md:text-sm lg:text-sm font-light;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-2;
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
}

.skeleton-box {
  position: relative;
  overflow: hidden;
  background-color: #e2e8f0;
}

.skeleton-box:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 1s infinite;
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
